.footer {
  margin: 50px 0 30px 0;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer__icon {
    color: rgba(0, 0, 0, 0.2);
    font-size: 30px;
    margin-bottom: 10px;
  }
  .footer__text {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
    text-transform: uppercase;
  }
}