.videoBlock {
  align-self: end;
  margin-bottom:40px;
  video {
    margin-bottom: 10px;
    max-width: 100%;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .videoBlock__creator {
    margin-right: 5px;
  }
  .videoBlock__views {
    margin-left: 5px;
  }
  .videoBlock__container {
    margin-bottom:10px;
    text-align: center;
    .videoBlock__thumbnail {
      width: 100%;
    }
  }
}